nav.navbar.navbar-expand-lg.navbar-light.nav-col.fixed-top.border
  .container
    a.navbar-brand.header__logo(href='/')
      img(src='/img/covid-tracer.png' style='width:40px')
      | 
      span.brandPh COVID TRACER